/*******************************************
***          YT Framework: css          ***
*******************************************/


/* Medium devices Desktops  
// ------------------*/
@media (min-width: 980px) and (max-width: 1199px) 
{
  li.level1.havechild{
    	display: none;
	}
  
}

/* Small devices Tablets	
// ------------------*/
@media (min-width: 768px) and (max-width: 979px) 
{
	li.level1.havechild{
    	display: none;
	}
}

/* Extra small devices Phones
// ------------------*/
@media (max-width: 767px){
	li.level1.havechild{
    	display: block;
	}
}

li.level1.havechild{
    display: none;
}

#meganavigator li.level1 > .item-link {
    color: #000000 !important;
    font-size: large;
    /*font-weight: bold;*/
}
.modcontent >a {
    color: black;
}
a.storegkconcept {
    color: black;
}
h6.masonry-title {
    color: black;
}
.masonry-content> p {
    color: black;
}
.welovewhatwedo >h3 {
    background-color: #67a557 !important;
    color: white !important;
}
#yt_header {
    padding: 10px 0 20px;
    /* background-color: #67a557 !important; */
    color: #494949;
    border: #494949 1px solid;
    z-index: 2;
}
#yt_spotlight1{
    background-color: #67a557 !important;
    margin-bottom: 30px;
}
.jd-popx-image-container {
    display: none !important;
}
.bg-dark .jd-popx-form-title, .bg-dark .jd-popx-form-subtitle {
    color: black !important;
}
div#main-top-right {
    padding: 0px 0px;
}
.modcontent.welove {
    font-size: 20px;
    font-weight: 200;
    font-family: Myriad Pro;
    text-align: justify;
}
h3.modtitle.we {
    font-size: -webkit-xxx-large;
    font-size: 20px;
    text-align: initial;
    text-transform: uppercase;
    padding: 0px 15px;
}
.module.welovewhatwedo {
    background-color: unset;
}
.categorybig .owl-carousel .owl-item {
    background-color: #fff;
    
}

.categorybig.module.sjexslidervm .sj-extra-slider .extraslider-inner {
    background-color: unset;
}
ul.bs-items {
    background-color: #fff;
}
.bs-header {
    background-color: #fff;
}
.newblogs h3.modtitle {
    color: black;
    font-size: 20px;
    font-style: inherit;
    /* float: left; */
    margin: 0px 25px !important;
    padding: 20px 0px 0px 0px !important;
}
.views h3.modtitle {
    color: black;
    font-size: 20px;
    font-style: inherit;
    /* float: left; */
    margin: 0px 25px !important;
    padding: 20px 0px 0px 0px !important;
}
.note h3.modtitle {
    color: black;
    font-size: 20px;
    font-style: inherit;
    /* float: left; */
    margin: 0px 25px !important;
    padding: 20px 0px 0px 0px !important;
}
.note a.vcat {
    visibility: collapse;
}
.newblogs a.vcat {
    visibility: collapse;
}
.views a.vcat {
    visibility: collapse;
}
.keywords span.name {
    border: #c1c1c1 1px solid;
    background-color: #fff;
   	padding: 20px;
    margin: 0px 3px;
}
.module.modkeywords {
    background-color: unset;
}
.module.modkeywords {
    background-color: unset;
}
div#top-right {
    margin: 20px 0px;
}
section#yt_top {
    background-color: #F4F4F2 !important;
}
div#top-right h3.modtitle {
    font-size: 22px;
    /* color: black; */
}
input.btn.btn-primary.button.subbutton {
    border-radius: 20px;
}
span.Priceproduct_price {
    text-decoration: line-through;
    font-size: 13px;
    /* color: black; */
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
span.PricesalesPrice.percent {
    color: black !important;
    float: left;
    padding: 0px 0px 0px 100px;
    margin: -22px;
    font-size: 13px !important;
}
